.cart-circle::before{
    content: "3";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $danger;
    color: $primary;
    top: -20%;
    right: 15%;
    text-align: center;
    font-size: $font-size-xs;
    line-height: 14px;
}
.border-right-cut{
  @include pad{
    &::before{
      content: '';
      position: absolute;
      height: 256px;
      width: 1px;
      background: #000;
      right: 0;
      top: 0;
    }
  }
}
.hover-bb-danger{
  border-bottom: 1px solid transparent;
  &:hover{
    border-bottom: 1px solid $danger;
  }
}

.indent-8{
  text-indent: 32px;
}


.fixed-pe-4{
  margin-right: -16px;
}

.w{
  &-20{
    width: 20%;
  }
  &-30{
    width: 30%;
  }
  &-40{
    width: 40%;
  }
  &-49{
    width: 49%;
  }
  &-50{
    width: 50%;
  }
  &-60{
    width: 60%;
  }
  &-80{
    width: 80%;
  }
  @include pad{
    &-lg-20{
      width: 20%;
    }
    &-lg-30{
      width: 30%;
    }
    &-lg-40{
      width: 40%;
    }
    &-lg-49{
      width: 49%;
    }
    &-lg-50{
      width: 50%;
    }
    &-lg-60{
      width: 60%;
    }
  }
}

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.z-index-9{
  z-index: 9;
}
.pa-cover{
  top: 0;
  left: 0;
}

.z-index-10{
  z-index: 10;
}

.flex-w-40{
  flex: 0 0 40%;
}
.flex-w-30{
  flex: 0 0 30%;
}

.flex-w-lg-33{
  @include pad{
    flex: 0 0 33.3333%;
  }
}


.fs-lg-2{
  @media (min-width: 996px) {
    font-size: 32px !important;
  }
}
.fs-l{
  font-size: 28px !important;
}

.fs-lg-5{
  @media (min-width: 996px) {
    font-size: 20px !important;
  }
}

.o-70{
  opacity: 0.7;
}


.img-block{
  >img{
    object-fit: cover;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
.input-base{
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0;
  font-size: $font-size-base;
  vertical-align:middle;
  &:focus{
    outline: 0;
  }
}

