@mixin bannerBgSet($img, $h){
    background-image: url($img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: $h;
}

@mixin pad {
    @media (min-width: 996px) {
        @content
    }
};
