.cart{
  top: -200vh;
  transition: .5s;
  right: 0;
  z-index: 100;
  height: calc(100vh - 62px);
  height: calc(var(--vh,1vh) * 100 - 62px);
  @include pad{
    height: calc(100vh - 80px);
  }
  &.show{
    top: 62px;
    @include pad{
      top: 80px;
    }
  }
  img{
    height: 120px;
    width: 120px;
  }
  &__content{
    height: calc(100vh - 194px);
    height: calc(var(--vh,1vh) * 100 - 214px);
    overflow-y: scroll;
    @include pad{
      height: calc(100vh - 246px);
    }
  }
  &__footer{
    position: absolute;
    width: 100%;
    background: #000;
    right: 0;
    bottom: 0;
    transition: .5s;
  }
}
.footer__banner{
  @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week6/footer.jpg",400px);
  &__sub{
    width: 100%;
    @include pad{
      width: 42%;
    }
    font-size: $font-size-base;
    input[type="button"]{
      border-radius: 0 0.25rem 0.25rem 0;
      vertical-align:middle;
      border: 0;
    }
  }
}
.footer__copyright{
  &__text{
    font-size: 1.375rem;
  }
}