<div class="footer__copyright py-4 py-lg-7">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="footer__copyright__text fs-lg-4">
        <p class="mb-0">EXHIBINECTION <span class="d-block d-lg-inline-block fs-6 ms-lg-4">© 2020. All Rights Reserved.</span></p>
      </div>
      <ul class="navbar-nav flex-row align-items-center fixed-pe-4 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </div>