<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/fontawesome-free-5.15.3-web/css/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary py-5 py-lg-7 lh-1">
    <div class="container justify-content-end align-items-center">
      <a class="navbar-brand text-secondary text-center flex-w-33" href="#">
        <h1 class="fs-4">EXHIBINECTION</h1>
      </a>
      <ul class="navbar-nav flex-w-33 align-items-center justify-content-end me-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign up</a>
        </li>
        <li class="nav-item p-relative align-self-end">
          <a class="nav-link cart-circle py-0 px-4" href="#">
            <span class="material-icons text-dark">
              confirmation_number
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <%- contents %>

    <footer class="footer">
      <div class="footer__banner d-flex flex-column justify-content-end">
        <div class="container py-9">
          <p class="fs-4 fs-lg-2 fw-bold text-primary mb-6 mb-lg-3">想收到展覽的最新消息嗎？<br> 快訂閱我們！</p>
          <div class="footer__banner__sub d-flex">
            <input class="input-base w-60 w-lg-50 py-3 ps-3" type="text" id="subEmail" name="subEmail" placeholder="輸入您的電子信箱">
            <input class="btn btn-danger text-primary w-40 w-lg-20 py-3" type="button" value="訂閱">
          </div>
        </div>
      </div>
      <div class="footer__copyright py-4 py-lg-7">
        <div class="container d-flex justify-content-between align-items-center">
          <div class="footer__copyright__text fs-lg-4">
            <p class="mb-0">EXHIBINECTION <span class="d-block d-lg-inline-block fs-6 ms-lg-4">© 2020. All Rights Reserved.</span></p>
          </div>
          <ul class="navbar-nav flex-row align-items-center fixed-pe-4 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info d-none d-lg-block py-0 px-4" href="#">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>