<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
  <header>
    <%- include('menu') %>
  </header>
  
  <%- contents %>

    <footer>
      <%if (title != "藝術展售票-結帳") { %>
      <div class="footer__banner d-flex flex-column justify-content-end">
        <div class="container py-9">
          <p class="fs-4 fs-lg-2 fw-bold text-primary mb-6 mb-lg-3">想收到展覽的最新消息嗎？<br> 快訂閱我們！</p>
          <div class="footer__banner__sub d-flex">
            <input class="input-base w-60 w-lg-50 py-3 ps-3" type="text" id="subEmail" name="subEmail" placeholder="輸入您的電子信箱">
            <input class="btn btn-danger text-primary w-40 w-lg-20 py-3" type="button" value="訂閱">
          </div>
        </div>
      </div>
      <% } %>
      <%- include('footer') %>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>